# dependencies
**/node_modules/        # Ignore node_modules in any subfolder (frontend, backend, etc.)
.pnp
.pnp.*
frontend/.pnp.*         # Ignore Yarn PnP files in the frontend
backend/.pnp.*          # Ignore Yarn PnP files in the backend
frontend/.yarn/*        # Ignore Yarn files in frontend
backend/.yarn/*         # Ignore Yarn files in backend
!.yarn/patches          # Do not ignore Yarn patches folder
!.yarn/plugins          # Do not ignore Yarn plugins folder
!.yarn/releases         # Do not ignore Yarn releases folder
!.yarn/versions         # Do not ignore Yarn versions folder

# testing
/coverage                # Ignore test coverage reports

# next.js
/.next/                  # Ignore Next.js build folder
/out/                    # Ignore Next.js static export folder

# production
/build                   # Ignore production build folder (in case of custom builds)

# misc
.DS_Store                # Ignore macOS Finder system file
*.pem                    # Ignore PEM certificate files

# debug
npm-debug.log*           # Ignore npm debug logs
yarn-debug.log*          # Ignore Yarn debug logs
yarn-error.log*          # Ignore Yarn error logs
.pnpm-debug.log*         # Ignore pnpm debug logs

# env files (can opt-in for committing if needed)
**/.env*                 # Ignore environment files in any folder (frontend/backend)

# vercel
.vercel                  # Ignore Vercel configuration folder

# typescript
*.tsbuildinfo            # Ignore TypeScript build info files
next-env.d.ts            # Ignore Next.js type definitions
